body {
  font-family: "Helvetica Neue", sans-serif !important;
}

hr.solid {
  border-top: 1px solid #bbb;
  margin: 15px;
}

.navbar {
  background-color: rgba(52, 172, 220, 0.98);
}

.navbar-brand {
  color: #FFFFFF;
  opacity: 0.95;
}

.navbar-brand:hover {
  color: #FFFFFF;
}

.nav-notification i {
  color: #FFFFFF;
}

.nav-notification span {
  font-size: 12px;
  background-color: #ecc36f !important;
}

.nav-notification:hover {
  opacity: 0.8;
}

.nav-profile i {
  color: #FFFFFF;
}

.nav-profile i:hover {
  opacity: 0.8;
}

.nav-profile-side i {
  margin-right: 10px;
}

.nav-profile-side-icon {
  padding-right: 4px;
}

.nav-administration {
  margin-top: 10px;
}

.nav-administration li {
  list-style-type: none;

}

.nav-administration a {
  color: #636464;
}

.profile-image-wrap {
  position: relative;
  overflow: hidden;
}

.profile-image-wrap img {
  display: block;
  width: 180px;
  height: 180px;
}

.profile-image-action {
  position: absolute;
  left: 0;
  bottom: -35%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  transition: .2s linear;
}

.profile-image-action a:focus, .profile-image-action a:active {
  outline: none;
  box-shadow: none;
}

.profile-image-wrap:hover .profile-image-action {
  bottom: 0;
}

.profile-image-action a {
  padding-left: 15px;
  text-decoration: none;
  width: 100%;
  color: rgba(255, 255, 255, 1);
}

.profile-image-action a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.profile-info-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.profile-edit {
  padding-left: 45px;
  font-size: 10px;
  font-weight: 700;
}

.profile-edit a {
  color: #8a8a8f;
  text-decoration: none;
}

.friend-title {
  font-size: 10px;
  font-weight: 700;
  padding: 10px 0 5px 10px;
}

.friend-title a {
  color: #8a8a8f;
  text-decoration: none;
}

.friend-img-list {
  text-align: center;
  padding: 5px 0 5px;
}

.friend-img-list img {
  max-width: 55px;
  border-radius: 2.5rem;
}

.social-contact a {
  text-decoration: none;
}

.photo-title {
  font-size: 10px;
  font-weight: 700;
  padding: 10px 0 10px 12px;
}

.photo-title a {
  color: #8a8a8f;
  text-decoration: none;
}

.footer {
  color: #FFFFFF;
  background-color: rgba(52, 172, 220, 0.98);
  opacity: 0.9;
}

footer p {
  padding: 5px 0 5px;
  margin-bottom: 0;
}

.language-selector {
  font-size: 12px !important;
  background-color: rgba(52, 172, 220, 0.98) !important;
  opacity: 0.7 !important;
  border-color: rgba(52, 172, 220, 0.98) !important;
}

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.flag-icon:before {
  content: "\00a0";
}

.flag-icon-ru {
  background-image: url("../images/flag-ru.svg");
}

.flag-icon-us {
  background-image: url("../images/flag-us.svg");
}

.profile-photo {
  width: 45px;
  height: 45px;
}

.post .post-heading {
  height: 45px;
}

.post .post-heading a {
  text-decoration: none;
}

.post .post-heading .profile-photo {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 5px;
}

.post-heading .title {
  margin-bottom: 0;
}

.post-heading .title a {
  color: black;
  text-decoration: none;
}

.post-heading .title a:hover {
  color: black;
}

.post-heading textarea {
  height: 200px;
}

.post .time {
  margin-top: 3px;
}

.post .post-description p {
  font-size: 14px;
  margin-bottom: 0;
}

.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}

.comments-list {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  list-style-type: none;
}

.comments-list li:last-child {
  margin-bottom: 0;
}

.comment-body p {
  margin-bottom: 0;
}

.comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}

.comment-heading {
  display: block;
  width: 100%;
}

.comment-heading a {
  text-decoration: none;
}

.comment-heading a:hover {
  color: black;
}

.comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}

.comment-heading .time {
  font-size: 12px;
  margin-top: 0;
  display: inline;
}

.comment-body {
  margin-left: 50px;
}

